@import "../styles/mixins";

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: left;
    gap: 2rem;
    padding-left: 3.5rem;

    @include respond(tab-port) {
        padding: 2rem;
    }

}