$color-black: #1B1F27ff;
$color-gray: #a9a9a9;
$color-white: #fff;
$color-gray-light: #d1d1d1;
$color-gray-dark: #333333;
$color-gray-dark-1: #444;

$color-primary: #fa26da;
$color-primary-dark: rgba(250, 38, 218, 0.4);
