@import "../styles/variables";

.contact{
    
    &__left{
        width: 50%;
        padding-left: 3.5rem;
        background-color: $color-gray-dark;
    }

    &__right{
        width: 50%;
        height: 100%;
        background-image: url(../assets/4.JPG);
        background-size: cover;
    }
}