@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import "./styles/variables";
@import "./styles/type";
@import "./styles/utilities";


body {
    font-family: "Poppins", sans-serif;
    color: $color-gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #00bdc9 #dedede;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #dedede;
}

*::-webkit-scrollbar-thumb {
    background-color: #00bdc9;
    border-radius: 10px;
    border: 3px solid #ffffff;
}
